<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
		android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
		<ScrollView
				android:layout_width="match_parent"
				android:layout_height="wrap_content" >
			<LinearLayout android:orientation="vertical"
					android:layout_width="match_parent"
					android:layout_height="match_parent">>
					<TextView
							android:layout_width="wrap_content"
							android:layout_height="wrap_content"
							android:textStyle="bold"
							local:MvxBind="Text Title" />
					<TextView
							android:layout_width="wrap_content"
							android:layout_height="wrap_content"
							local:MvxBind="Text Content" />
					</LinearLayout>
		</ScrollView>	
</LinearLayout>